.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 16px;
  margin: 0 auto;
  justify-content: center;
  padding: 80px 0;
}

@media screen and (max-width: 1024px) {
  .card-list {
    grid-template-columns: repeat(auto-fill, 224px);
    grid-gap: 8px;
  }
}

@media screen and (max-width: 500px) {
  .card-list {
    grid-template-columns: repeat(auto-fill, 288px);
    grid-gap: 16px;
    padding-top: 40px;
  }
}
