.header {
  display: flex;
  align-items: center;
}

.header__title {
  flex-grow: 1;
}

.link {
  color: #000;
  text-decoration: none;
}

.link:hover {
  color: #27292d;
}

.link_active::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #000;
  width: 100%;
  bottom: 0;
  left: 0;
}

.header__link {
  font-size: 26px;
  margin-right: 8px;
  position: relative;
}

.header__link::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #000;
  width: 0;
  bottom: 0;
  left: 0;
  transition: width 0.4s ease-out;
}

.header__link:hover::after {
  width: 100%;
}

.header__link:last-child {
  margin-right: 0;
}

@media screen and (max-width: 500px) {
  .header__title {
    font-size: 16px;
  }

  .header__link {
    font-size: 16px;
    margin-right: 20px;
  }
}
